﻿/*-------------------------------------------------------------------------------------------------------------------------------*/
/*This is main CSS file that contains custom style rules used in this template*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* Template Name: Medison*/
/* Version: 1.0 Initial Release*/
/* Build Date: 25-02-2015*/
/* Author: Volodymyr*/
/* Copyright: (C) 2015 */
/*-------------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------*/
/* TABLE OF CONTENTS: */
/*--------------------------------------------------------*/

/* 01 - FONTS */
/* 02 - LOADER */
/* 03 - RESET STYLES */
/* 04 - GLOBAL SETTINGS */
/* 05 - HEADER */
/* 06 - FOOTER */
/* 07 - SIMPLE BLOCK STRUCTURE */
/* 08 - BLOCK "TYPE 1" */
/* 09 - BLOCK "TYPE 2" */
/* 10 - BLOCK "TYPE 3" */
/* 11 - BLOCK "TYPE 4" */
/* 12 - BLOCK "TYPE 5" */
/* 13 - BLOCK "TYPE 6" */
/* 14 - BLOCK "TYPE 7" */
/* 15 - BLOCK "TYPE 8" */
/* 16 - BLOG */
/* CSS ANIMATIONS */


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 01 - FONTS */
/*-------------------------------------------------------------------------------------------------------------------------------*/
@font-face {
    font-family: 'black';
    src: url('../fonts/Roboto-Black-webfont.eot');
    src: url('../fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Black-webfont.woff') format('woff'),
         url('../fonts/Roboto-Black-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bold';
    src: url('../fonts/Roboto-Bold-webfont.eot');
    src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'regular';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'medium';
    src: url('../fonts/Roboto-Medium-webfont.eot');
    src: url('../fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Medium-webfont.woff') format('woff'),
         url('../fonts/Roboto-Medium-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'light';
    src: url('../fonts/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'italic';
    src: url('../fonts/Roboto-Italic-webfont.eot');
    src: url('../fonts/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Italic-webfont.woff') format('woff'),
         url('../fonts/Roboto-Italic-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Italic-webfont.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 02 - LOADER */
/*-------------------------------------------------------------------------------------------------------------------------------*/
#loader-wrapper{position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 500; background: #fff;}
.loader-content{position: absolute; text-align: center; width: 100%; left: 0; top: 50%; margin-top: -80px;}
.loader-content .title{font-family: 'black'; text-align: center; font-size: 30px; line-height: 30px; color: #232c3b;}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 03 - RESET STYLES */
/*-------------------------------------------------------------------------------------------------------------------------------*/
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
	blockquote, q {quotes: none;}
	blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
	body *{-webkit-text-size-adjust:none;}
	.clear{clear:both; overflow:hidden; height:0px; font-size:0px; display: block;}
	input:focus, select:focus, textarea:focus, button:focus {outline: none;}
	input, textarea, select{font-family: 'Lato', sans-serif, Arial; font-weight: 400; -webkit-appearance: none; border-radius: 0;}
	a, a:link, a:visited, a:active, a:hover{cursor: pointer; text-decoration: none; outline: none;}
	body{font-family: 'regular', sans-serif, Arial; font-weight: normal; font-size: 14px; line-height: 1; overflow-y: scroll;}
	
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 04 - GLOBAL SETTINGS */
/*-------------------------------------------------------------------------------------------------------------------------------*/
	body{min-width:320px;}
	.bg-grey #content-wrapper{background:#f9f9fa;}
	.button {display:inline-block;border:1px solid #3d356f;margin:0 auto;}
	.button a, .button button{display:inline-block;font-size:18px;line-height:19px;text-transform:uppercase;background:#3d356f;color:#fff;padding:7px 30px;border:3px solid #fff;}
	.button a:hover, .button button:hover{background: transparent;color: #3d356f;}
	.row-view{display: table-row;}
	.cell-view{display: table-cell; vertical-align: middle; height: inherit;}
	.highlight .blue{color: #38a9f6;}
	#content-wrapper .form-input{font-family:'light';font-size:15px;line-height:24px;color:#242434;background:transparent;width: 100%;padding:10px 15px;border-top:none;border-right:none;border-bottom:1px solid #d0d8de;border-left:1px solid #d0d8de;}
	#content-wrapper .form-input::-webkit-input-placeholder {font-family:'light';font-size:15px;line-height:24px;color:#242434;}
	#content-wrapper .form-input:-moz-placeholder {font-family:'light';font-size:15px;line-height:24px;color:#242434;filter: alpha(opacity=100);}
	#content-wrapper .form-input::-moz-placeholder {font-family:'light';font-size:15px;line-height:24px;color:#242434;filter: alpha(opacity=100);}
	#content-wrapper .form-input:-ms-input-placeholder {font-family:'light';font-size:15px;line-height:24px;color:#242434;}
	.arrow-right{display:inline-block;width:30px;height:30px;background:url(../img/testimonials-right.png) center center no-repeat transparent;border:1px solid #3d356f;-webkit-border-top-right-radius:7px;-webkit-border-bottom-left-radius:7px;-moz-border-radius-topright:7px;-moz-border-radius-bottomleft:7px;border-top-right-radius:7px;border-bottom-left-radius:7px;}
	.arrow-right.active,.arrow-right:hover{cursor:pointer;background:url(../img/testimonials-right-active.png) center center no-repeat #3d356f;}
	.arrow-left {display:inline-block;width:30px;height:30px;background:url(../img/testimonials-left.png) center center no-repeat transparent;border:1px solid #3d356f;-webkit-border-top-left-radius:7px;-webkit-border-bottom-right-radius:7px;-moz-border-radius-topleft:7px;-moz-border-radius-bottomright:7px;border-top-left-radius:7px;border-bottom-right-radius:7px;}
	.arrow-left.active,.arrow-left:hover{cursor:pointer;background:url(../img/testimonials-left-active.png) center center no-repeat #3d356f;}
	/*map*/
	#map-canvas{height: 540px; background: #485b77;-webkit-box-shadow: inset 0px 10px 10px 0px rgba(50, 50, 50, 0.75);-moz-box-shadow: inset 0px 10px 10px 0px rgba(50, 50, 50, 0.75);box-shadow: inset 0px 10px 10px 0px rgba(50, 50, 50, 0.75);}
	/*list*/
	ul.styled li{font-family:'light';font-size:17px;line-height:25px;color:#242434;margin-bottom:15px;position:relative;list-style:none;padding-left:40px;}
	ul.styled li:before{content:'';display:inline-block;position:absolute;top:8px;left:9px;width:10px;height:10px;border:1px solid #38a9f6;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}
	ul.styled.style-2 li:before{width:14px;height:11px;background:url(../img/list-icon.png) center center no-repeat transparent;border:none;}
	ul.styled.style-3 li:before{background:#38a9f6;}
	
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 05 - HEADER */
/*-------------------------------------------------------------------------------------------------------------------------------*/
	header .top-line{background:#1b1542;color:#e2e2eb;line-height:36px;}
	.top-line .contact {float:left;}
	.top-line .contact span {margin-right:30px;}
	.top-line .contact span img{margin-right:6px;}
	.top-line .contact a {color:#e2e2eb;}
	.top-line .contact a:hover {color:#fff;}	
	.top-line .social {float:right;}
	.top-line .social a {display:block;float:left;width:35px;text-align:center;border-left:1px solid #36305c;}
	.top-line .social a:last-child{border-right:1px solid #36305c;}
	.top-line .social a:hover {background: #312676;}
	header nav{-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.08);-moz-box-shadow: 0 1px 3px rgba(0,0,0,.08);box-shadow: 0 1px 3px rgba(0,0,0,.08);}	
	.fixed-top nav {position: fixed;top: 0px;z-index: 250;width: 100%;background: #fff;-webkit-transform: translateZ(0);-webkit-transform: translate3d(0,0,0);}
	#logo {display: block;margin-top: 20px;}
	#logo img{float:left;}
	#logo .name{float:left;font-size:20px;line-height:22px;color:#1b1542;text-transform:uppercase;margin:20px 0px 0px 9px;}
	#navbar > ul > li {margin-left:22px;}
	#navbar > ul > li:first-child{margin-left:0px;}
	#navbar > ul > li > a{font-size:15px;color:#242434;text-transform:uppercase;padding: 36px 0px;border-top:4px solid transparent;border-bottom:4px solid transparent;}
	#navbar > ul > li:hover > a,#navbar > ul > li.active > a{background:transparent;border-top:4px solid #38a9f6;border-bottom:4px solid #38a9f6;}
	#navbar ul li ul{display:none;position:absolute;left:0px;z-index: 101;width:196px;background:#fff;list-style: none;}
	#navbar .dropdown:hover ul{display:block;}
	#navbar .dropdown > a:hover ul a{display:block;color:#242434;padding:12px 0px 12px 15px;border-top:1px solid #d0d8de;}
	
	#navbar .dropdown.open > a,#navbar > ul > li > a:focus{background:transparent;}

	#navbar .dropdown > a:after{content:"";display:block;position:absolute;top:50%;right:0px;width:9px;height:5px;margin-top:-2px;background:url(../img/dropdown.png) center center no-repeat;}
	#navbar .dropdown > a {padding-right: 15px;}
	#navbar .dropdown ul a{display:block;color:#242434;padding:12px 0px 12px 15px;border-top:1px solid #d0d8de;}
	#navbar .dropdown ul a:hover{color:#fff;background:#38a9f6;}
	#navbar .dropdown ul li:last-child a{border-bottom:1px solid #d0d8de;}	
	.navbar-toggle{background: #3d356f;margin-top: 22px;}
	.navbar-toggle .icon-bar{background: #fff;}
	
	@media (max-width: 800px){
		body{padding-top:74px;}
		header nav{position: fixed;top: 0px;z-index: 250;width: 100%;background: #fff;-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.08);-moz-box-shadow: 0 1px 3px rgba(0,0,0,.08);box-shadow: 0 1px 3px rgba(0,0,0,.08);}
		header nav .container{width: 100%;}
		.top-line{display:none;}
		#logo{margin: 10px 0px 10px 15px;}
		.navbar-header {float: none;}
		.navbar-toggle {display: block;}
		.navbar-collapse.collapse.in  {display: block!important;visibility: visible!important;border-top: 1px solid transparent;box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);}
		.navbar-collapse.collapse {display: none!important;visibility: hidden!important;}		
		.navbar-nav {float: none!important;margin: 7.5px -15px;}
		.navbar-nav>li {float: none;}
		.navbar-nav>li>a {padding-top: 10px;padding-bottom: 10px;}
		#navbar > ul {padding:0px 15px;}
		#navbar > ul > li{margin-left:0px;}
		#navbar > ul > li > a{border:none;padding:10px 0px;text-align:center;}
		#navbar > ul > li > a:hover,#navbar > ul > li.active > a{background: #3d356f;border:none;color:#fff;}
		#navbar .dropdown ul{position: static;width: 100%;list-style: none;text-align: center;}
		#navbar .dropdown ul a{padding: 12px 0px 12px 0px;}
		#navbar .dropdown > a {padding-right:0px;}
		#navbar .dropdown > a:after{right: 10px;}
		#navbar .dropdown > a >span{position:absolute;right:0px;top:0px;width:60px;height:40px;z-index: 200;}
		#navbar .dropdown.open ul{display:block;}			
		#navbar .dropdown.open ul li{background: #7CC7FA;}
		#navbar .dropdown.open > a{background: #38A9F6;border: none;color:#fff;}	
		#navbar .dropdown.open ul a:hover{background: #3d356f;}
		#navbar .dropdown:hover ul{display:none;}
	}
	
	@media (min-width: 801px) and (max-width: 991px) {
		#logo .name{font-size: 18px;line-height: 20px;margin: 20px 0px 0px 2px;}		
		#navbar > ul > li {margin-left:6px;}
	}	
	
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 06 - FOOTER */
/*-------------------------------------------------------------------------------------------------------------------------------*/
	footer{padding:60px 0px;background-size:cover;background-position:center center;}
	footer h3.title{font-size:20px;line-height:25px;color:#fefeff;text-transform: uppercase;margin-bottom:25px;}
	footer .address{font-family:'light';font-size:15px;line-height:25px;color:#fefeff;margin-bottom:5px;}
	footer .list-styled {padding-left:15px;list-style:none;color:#c0bce8;}
	footer .list-styled li{margin-bottom:4px;position:relative;}
	footer .list-styled li:before{content:"";display:block;position:absolute;top:7px;left:-15px;width:6px;height:10px;background:url(../img/list.png) center center no-repeat;}
	footer .list-styled a{color:#c0bce8;}
	footer .list-styled a:hover{color:#fff;}
	footer .blog-latest{margin-bottom:15px;font-family:'light';font-size:15px;line-height:18px;}
	footer .blog-latest img{float:left;margin-right:15px;-webkit-border-top-left-radius:10px;-webkit-border-bottom-right-radius:10px;-moz-border-radius-topleft:10px;-moz-border-radius-bottomright:10px;border-top-left-radius:10px;border-bottom-right-radius:10px;}
	footer .blog-latest .title a{color:#c0bce8;margin-bottom:3px;}
	footer .blog-latest .title a:hover{opacity:0.6;filter: alpha(opacity=60);}	
	footer .blog-latest .date{color:#fff;}
	footer .text{font-family:'light';font-size:15px;line-height:25px;color:#c0bce8;margin-bottom:10px;}
	footer form{position:relative;margin-bottom:25px;}
	footer form:before{content:"";display:block;position:absolute;bottom:0px;left:0px;width:88%;width: -webkit-calc(100% - 29px);width: -moz-calc(100% - 29px);width: calc(100% - 29px);height:1px;border-bottom:1px solid #827ca0;}
	footer input{font-family:'light';color:#fff;width:100%;height:30px;padding-left:10px;background:transparent;border:none;}
	footer input::-webkit-input-placeholder {font-family:'light';color:#fff;}
	footer input:-moz-placeholder {font-family:'light';color:#fff;opacity:1;filter: alpha(opacity=100);}
	footer input::-moz-placeholder {font-family:'light';color:#fff;opacity:1;filter: alpha(opacity=100);}
	footer input:-ms-input-placeholder {font-family:'light';color:#fff;}
	footer button{position:absolute;top:0px;right:0px;width:30px;height:30px;background:url(../img/submit.png) center center #3d356f no-repeat;border:none;-webkit-border-top-left-radius:7px;-webkit-border-bottom-right-radius:7px;-moz-border-radius-topleft:7px;-moz-border-radius-bottomright:7px;border-top-left-radius:7px;border-bottom-right-radius:7px;}
	footer button:hover{opacity:0.6;filter: alpha(opacity=60);}
	footer .social a{display:inline-block;width:30px;padding:7px 0px;text-align:center;background:#3d356f;-webkit-border-top-left-radius:7px;-webkit-border-bottom-right-radius:7px;-moz-border-radius-topleft:7px;-moz-border-radius-bottomright:7px;border-top-left-radius:7px;border-bottom-right-radius:7px;margin-right:5px;}
	footer .social a:hover{opacity:0.6;filter: alpha(opacity=60);}
	#scrollUp{right:8px;bottom:8px;width:50px;height:50px;background:url(../img/scroll-up.png) center center #e0dfe6 no-repeat;-webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px;}
	#scrollUp:hover{opacity:0.6;filter: alpha(opacity=60);}
	@media (max-width: 767px){
		footer{background: #26264C !important;}
	}	
	@media (min-width:992px) and (max-width:1199px){
		footer .social a {width: 28px;margin-right: 4px;}
	}	

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 07 - SIMPLE BLOCK STRUCTURE */
/*-------------------------------------------------------------------------------------------------------------------------------*/
	.block {padding-top:60px;padding-bottom:57px;background-size:cover;background-position:center center;overflow:hidden;}
	.block .block-header{margin-bottom:55px;}
	.block .block-header:before {content: "";width: 39px;height: 3px;background-color: #38a9f6;left: 15px;bottom: -1px;position: absolute;}
	.block .block-header-wrapper {border-bottom:1px solid #cdd6dc;padding-bottom:60px;}	
	.block .block-header .title{font-size:68px;line-height: 70px;font-family:'medium';color:#242434;text-transform:uppercase;position:relative;}
	.block .block-header .title .first {display:block;font-family:'light';font-size:30px;line-height:30px;}
	.block .block-header .title .blue {color:#38a9f6;}	
	.block .block-header .text{font-size:15px;font-family:'light';color:#242434;line-height:24px;border-left:1px solid #d0d8de;padding:3px 15px 3px 30px;margin-top:40px;}
	.breadcrumbs {padding-top: 60px;}
	.breadcrumbs ul{list-style:none;margin-bottom:45px;font-family:'light';}
	.breadcrumbs li{display:inline;color:#242434;}
	.breadcrumbs li + li:before{content: '';display: inline-block;width:6px;height:10px;background:url(../img/breadcrumbs.png) center center no-repeat;margin: 0 10px;}
	.breadcrumbs li a{color:#242434;text-decoration:underline;}
	@media (max-width: 515px){
		.block .block-header .title {font-size:52px;}
	}
	@media (max-width: 400px){
		.block .block-header .title {font-size:45px;}
	}
	@media (max-width: 350px){
		.block .block-header .title {font-size:37px;}
	}		
	@media (min-width: 768px) and (max-width: 991px) {
		.block .block-header .title {font-size:52px;}
	}	
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 08 - BLOCK "TYPE 1" */
/*-------------------------------------------------------------------------------------------------------------------------------*/
	.block.type-1 {padding-top:0px;padding-bottom:0px;}
	.main-slider {min-height: 500px!important;}
	.block.type-1 .swiper-slide{background-size: cover; background-position: center center;}
	.block.type-1 .swiper-container, .block.type-1 .swiper-wrapper, .block.type-1 .swiper-slide, .block.type-1 .swiper-slide .container{height: inherit!important; min-height: 500px!important;position:relative;z-index:100;}	
	.block.type-1 .swiper-slide{position:relative;text-align:center;}
	.block.type-1 .slide-name {font-size:18px;color:#bfbfd7;text-transform:uppercase;margin-bottom:25px;}	
	.block.type-1 .slide-title {font-family:'medium';font-size:70px;color:#ffffff;text-transform:uppercase;margin-bottom:60px;}		
	.block.type-1 .slide-text {font-family:'light';font-size:16px;line-height:27px;color:#ffffff;}	
	.block.type-1 .pagination{position: absolute;bottom:25px;}
	.block.type-1 .pagination span {z-index:101;}
	.block.type-1 .vertical-align {position: absolute;top:50%;left:0px;transform:translateY(-52%);-moz-transform:translateY(-52%);-webkit-transform:translateY(-52%);-ms-transform:translateY(-52%);}
	.block.type-1 .container.arrows {position: absolute;top: 0px;left: 50%;margin-left:-585px;height:inherit!important;min-height: 500px!important;}
	.block.type-1 .slider-arrow{position:absolute;top:50%;border:2px solid #8480a4;padding:10px 18px;margin-top: -25px;z-index:200;display: inline-block;}
	.block.type-1 .slider-arrow:hover{cursor:pointer;opacity:0.6;filter: alpha(opacity=60);}	
	.block.type-1 .slider-arrow.left{left:15px;-webkit-border-top-left-radius: 15px;-webkit-border-bottom-right-radius: 15px;-moz-border-radius-topleft: 15px;-moz-border-radius-bottomright: 15px;border-top-left-radius: 15px;border-bottom-right-radius: 15px;}
	.block.type-1 .slider-arrow.right{right:15px;-webkit-border-top-right-radius: 15px;-webkit-border-bottom-left-radius: 15px;-moz-border-radius-topright: 15px;-moz-border-radius-bottomleft: 15px;border-top-right-radius: 15px;border-bottom-left-radius: 15px;}	

	.block.type-1 .swiper-pagination-switch {width: 32px;height: 32px;border-radius: 32px;-webkit-border-radius: 32px;border:2px solid #fff;background:transparent;}
	.block.type-1 .swiper-pagination-switch:before{border:none;}	
	.block.type-1 .swiper-active-switch {border:2px solid #38a9f6;}
	.block.type-1 .swiper-active-switch:before{width:7px;height:7px;border:none;background:#fff;}
	@media (max-width: 400px){
		.block.type-1 .slide-name{margin-bottom: 10px;}
		.block.type-1 .slide-text{line-height: 24px;}
	}		
	@media (max-width: 767px){
		.block.type-1 .slide-title {font-size:52px;  margin-bottom: 15px;}	
	}	
	@media (min-width: 768px) and (max-width: 991px) {
		.block.type-1 .slide-title {font-size:52px;}	
		.block.type-1 .container.arrows {margin-left:-375px;}
	}
	@media (min-width:992px) and (max-width:1199px){
		.block.type-1 .container.arrows {margin-left:-485px;}
	}
	
	
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 09 - BLOCK "TYPE 2" */
/*-------------------------------------------------------------------------------------------------------------------------------*/
	.block.type-2{padding-bottom:0px;}
	.block.type-2 .block-header{margin-bottom:0px;}
	.block.type-2 .icon-blocks{margin-top:80px;}
	.block.type-2 .icon-blocks .services {margin-bottom:80px;}
	.icon-blocks .description {padding-left:85px;}	
	.icon-blocks .services .title{color:#242434;font-size:17px;line-height:24px;text-transform:uppercase;}
	.icon-blocks .services .text{font-size:15px;font-family:'light';line-height:24px;color:#242434;}
	.icon-blocks .icon-service {float:left;background-image:url(../img/pattern.png);background-repeat:repeat;padding:15px 9px;-webkit-border-top-left-radius: 15px;-webkit-border-bottom-right-radius: 15px;-moz-border-radius-topleft: 15px;-moz-border-radius-bottomright: 15px;border-top-left-radius: 15px;border-bottom-right-radius: 15px;}
	.block.type-2 .breadcrumbs {padding-top: 0px}
	@media (max-width: 767px) {
		.block.type-2{padding-bottom: 57px;}
	}		
	@media (min-width: 768px) and (max-width: 991px) {
		.block.type-2{padding-bottom: 57px;}
	}	
	@media (min-width:992px) and (max-width:1199px){
		.icon-blocks{margin-top:40px;}
		.icon-blocks .services{margin-bottom: 50px;}
	}

  	
	
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 10 - BLOCK "TYPE 3" */
/*-------------------------------------------------------------------------------------------------------------------------------*/	
	.block.type-3 .block-header-wrapper {border-bottom:1px solid #817bba;}
	.block.type-3 .block-header .title{color:#fefeff;}
	.block.type-3 .block-header .text{color:#fff;border-left:1px solid #817bba;}
	.block.type-3 .content-block .title{font-family:'medium';font-size:25px;line-height:24px;color:#fff;text-transform:uppercase;margin-bottom:9px;}
	.block.type-3 .content-block .text{font-family:'light';font-size:17px;line-height:25px;color:#fff;}
	.block.type-3 .content-block .text p {margin-bottom:18px;}
	.block.type-3 .content-block .text ul {padding-left:28px;list-style:none;margin-bottom: 18px;}
	.block.type-3 .content-block .text ul  li {margin-bottom:5px;position:relative;}
	.block.type-3 .content-block .text ul  li:before{content:"";display:block;width:8px;height:8px;border:1px solid #38a9f6;position:absolute;top:11px;left:-18px;border-radius:8px;}
	/*stat*/
	.statistic{margin-top:57px;padding-right:15px;padding-left:15px;}
	.stat-block {width:170px;height:170px;float:left;padding:20px 18px 18px 15px;margin-right:15px;margin-bottom:15px;background:#242434;opacity:0.6;filter: alpha(opacity=60);color:#fefefe;-webkit-border-top-left-radius: 25px;-webkit-border-bottom-right-radius: 25px;-moz-border-radius-topleft: 25px;-moz-border-radius-bottomright: 25px;border-top-left-radius: 25px;border-bottom-right-radius: 25px;}
	.stat-block .percent{font-size:35px;line-height:30px;margin-bottom:10px;}
	.stat-block .percent span {font-size:57px;}
	.block.type-3 .content-block .stat-block .text{font-size:13px;line-height:19px;}
	/*chart*/
	.chart-wrapper{width: 470px;margin: 0 auto;height: 400px;}
	.chart-entry{width: 200px;float: right;}
	.chart{position:relative;width:400px;height:400px;float: right;overflow:hidden;}
	.chart .round-2,.chart .round-3,.chart .round-4{-webkit-box-shadow: -3px 3px 10px 3px rgba(190, 190, 190, 0.75);-moz-box-shadow: -3px 3px 10px 3px rgba(190, 190, 190, 0.75);box-shadow: -3px 3px 10px 3px rgba(190, 190, 190, 0.75);}	
	.chart .round-1{position: relative;width: 400px;height: 400px;float:right;border-radius: 400px; border-right: 35px solid #fff;border-bottom: 35px solid #fff;border-left: 35px solid transparent;border-top: 35px solid transparent;-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-o-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
	.chart .overflow-1{overflow:hidden;width: 200px;margin-left: 200px;}
	.chart .overflow-1 .color-block {position: absolute;bottom: 0px;width: 10px;height: 40px;background: #e97a23;}
	.chart .overflow-1 .number{position: absolute;top:50%;right:5px;margin-top: -12px;font-family: 'bold';font-size:15px;color:#e97a23;}
	.chart .round-2{position:absolute;top: 28px;right: 32px;width: 337px;height: 337px;border-radius: 337px;border-right: 34px solid #fff;border-bottom: 34px solid #fff;border-left: 34px solid transparent;border-top: 34px solid transparent;-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-o-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
	.chart .overflow-2{overflow: hidden;width: 200px;margin-left: 200px;height: 400px;position: absolute;top: 0px;}
	.chart .overflow-2 .color-block {position: absolute;bottom: 35px;width: 10px;height: 40px;background: #95d3b4;}
	.chart .overflow-2 .number{position: absolute;top:50%;right:36px;margin-top: -12px;font-family: 'bold';font-size:15px;color:#95d3b4;z-index: 200;}	
	.chart .round-2.part-2{-webkit-box-shadow: 0px -3px 19px 0px rgba(190, 190, 190, 0.75);-moz-box-shadow: 0px -3px 19px 0px rgba(190, 190, 190, 0.75);  box-shadow: 0px -3px 19px 0px rgba(190, 190, 190, 0.75);}		
	.chart .overflow-2.part-2{top: -45px;left:-8px;-webkit-transform: rotate(-27deg);-moz-transform: rotate(-27deg);-o-transform: rotate(-27deg);-ms-transform: rotate(-27deg);transform: rotate(-27deg);}
	.chart .round-3{position:absolute;top: 57px;right: 63px;width: 275px;height: 275px;border-radius: 275px;border-right: 32px solid #fff;border-bottom: 32px solid #fff;border-left: 32px solid transparent;border-top: 32px solid transparent;-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-o-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
	.chart .overflow-3{overflow: hidden;width: 200px;margin-left: 200px;height: 400px;position: absolute;top: 0px;}
	.chart .overflow-3 .color-block {position: absolute;bottom: 68px;width: 10px;height: 40px;background: #28b2e1;}
	.chart .overflow-3 .number{position: absolute;top:50%;right:69px;margin-top: -12px;font-family: 'bold';font-size:15px;color:#28b2e1;z-index: 200;}	
	.chart .round-3.part-2{-webkit-box-shadow: 0px -3px 19px 0px rgba(190, 190, 190, 0.75);-moz-box-shadow: 0px -3px 19px 0px rgba(190, 190, 190, 0.75);  box-shadow: 0px -3px 19px 0px rgba(190, 190, 190, 0.75);}	
	.chart .overflow-3.part-2{top: -79px;left: -31px;-webkit-transform: rotate(-50deg);-moz-transform: rotate(-50deg);-o-transform: rotate(-5.deg);-ms-transform: rotate(-50deg);transform: rotate(-50deg);}	
	.chart .round-4{position:absolute;top: 88px;right: 93px;width: 215px;height: 215px;border-radius:215px;border-right:32px solid #fff;border-bottom:32px solid #fff;border-left:32px solid transparent;border-top:32px solid transparent; -webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-o-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
	.chart .overflow-4{overflow: hidden;width: 200px;margin-left: 200px;height: 400px;position: absolute;top: 0px;}
	.chart .overflow-4 .color-block {position: absolute;bottom: 97px;width: 10px;height: 33px;background: #444;}
	.chart .overflow-4 .number{position: absolute;top:50%;right:98px;margin-top: -12px;font-family: 'bold';font-size:15px;color:#444;z-index: 200;}		
	.chart .round-4.part-2{-webkit-box-shadow: 0px -3px 19px 0px rgba(190, 190, 190, 0.75);-moz-box-shadow: 0px -3px 19px 0px rgba(190, 190, 190, 0.75);  box-shadow: 0px -3px 19px 0px rgba(190, 190, 190, 0.75);}		
	.chart .overflow-4.part-2{top: -105px;left: -95px;-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);-o-transform: rotate(-90deg);-ms-transform: rotate(-90deg);transform: rotate(-90deg);}		
	.round-center{position: absolute;top: 50%;left: 50%;width: 95px;height: 95px;margin:-52px 0px 0px -46px; border-radius: 95px;background:url(../img/chart.png) center center no-repeat #fff;}
	.chart-titles{float:right;position:relative;padding-right:13px;padding-top: 279px;}
	.chart-titles p{font-size:15px;color:#e6e6e5;text-transform:uppercase;text-align:right;line-height: 29px;}	
	/*contact entry*/
	.contact-entry{margin-bottom:60px;}
	.contact-wrapper .contact-entry:last-child{margin-bottom:0px;}
	.contact-entry .contact-icon {float: left;width:70px;height:70px;padding:10px;margin-right:30px;background:#7c76b5;-webkit-border-top-left-radius: 15px;-webkit-border-bottom-right-radius: 15px;-moz-border-radius-topleft: 15px;-moz-border-radius-bottomright: 15px;border-top-left-radius: 15px;border-bottom-right-radius: 15px;}
	.block.type-3 .content-block .contact-entry .title{font-family:'regular';font-size:17px;line-height:24px;text-transform: uppercase;margin-bottom: 0px;}
	.block.type-3 .content-block .contact-entry .text{font-size:15px;line-height:25px;}
	.contact-entry .description{padding-left: 100px;}
	.contact-entry .description a{color:#fff;}
	.contact-entry .description a:hover{color: #c0bce8;}
	/*media body*/
	.block.type-3 .media-body{position:relative;width: 58.33333333%;padding-left:45px;}
	.block.type-3 .media-body:before{content:'';position:absolute;top:70px;left:22px;width:22px;height:268px;background:url(../img/media-lines.png) center center no-repeat;}
	.block.type-3 .icon-entry:first-child{margin-bottom:60px;}
	.block.type-3 .icon-entry .icon{float:left;-webkit-border-top-left-radius: 25px;-webkit-border-bottom-right-radius: 25px;-moz-border-radius-topleft: 25px;-moz-border-radius-bottomright: 25px;border-top-left-radius: 25px;border-bottom-right-radius: 25px;}
	.block.type-3 .icon-entry .description{padding-left:195px;}
	.block.type-3 .media-right{width: 41.66666667%;}
	/*popup video*/
	.blog-entry .image-column .popup-video{padding-left: 100px;}
	@media (max-width: 767px) {
		.stat-block{ margin: 0 auto;float: none;margin-bottom: 15px;}
		.address-info{margin-bottom:30px;}
		.contact-wrapper .contact-entry:last-child{margin-bottom:60px;}
		.contact-wrapper:last-child .contact-entry:last-child{margin-bottom:0px;}
		.block.type-3 .media-body{display:block;width:100%;padding-left:0px;margin-bottom:30px;}	
		.block.type-3 .icon-entry .icon{float:none;margin-bottom:15px;}
		.block.type-3 .media-body:before{display:none;}
		.block.type-3 .icon-entry .description{padding-left:0px;}
	}
	@media (min-width: 768px) and (max-width: 991px) {
		.address-info{margin-bottom:30px;}
		.block.type-3 .media-body{display:block;width:100%;}	
		.block.type-3 .media-body{margin-bottom:30px;}			

	}	
	@media (min-width:992px) and (max-width:1199px){
		.chart-titles p{font-size:14px;}

	}	
	
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 11 - BLOCK "TYPE 4" */
/*-------------------------------------------------------------------------------------------------------------------------------*/	
	.team .icon-entry{margin-bottom:57px;text-align:center;}
	.team .icon-entry .corner-rounding {max-width: 100%;height: auto;display: inline-block;margin-bottom:20px;-webkit-border-top-left-radius: 25px;-webkit-border-bottom-right-radius: 25px;-moz-border-radius-topleft: 25px;-moz-border-radius-bottomright: 25px;border-top-left-radius: 25px;border-bottom-right-radius: 25px;}
	.team .icon-entry .content {padding:0px 20px;}
	.team .icon-entry .information{padding:3px 0px 5px 0px;margin:0px 37px 18px 29px;border-top:1px solid #cdd6dc;border-bottom:1px solid #cdd6dc;}
	.team .icon-entry .name {font-size:16px;line-height:18px;color:#363738;margin-bottom: 5px;}
	.team .icon-entry .job{font-family:'light';font-size:12px;color:#6b6a6a;}	
	.team .icon-entry .text{font-family:'light';font-size:13px;line-height:18px;color:#6b6a6a;margin-bottom:18px;}
	.social-block a img{padding:7px 7px 7px 8px;background-image:url(../img/pattern.png);background-repeat: repeat;-webkit-border-top-left-radius: 6px;-webkit-border-bottom-right-radius: 6px;-moz-border-radius-topleft: 6px;-moz-border-radius-bottomright: 6px;border-top-left-radius: 6px;border-bottom-right-radius: 6px;}
	.social-block a:hover{opacity:0.6;filter: alpha(opacity=60);}
	
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 12 - BLOCK "TYPE 5" */
/*-------------------------------------------------------------------------------------------------------------------------------*/
	.block.type-5 .block-header-wrapper {border-bottom:none;}	
	.block.type-5 .block-header-border {position:absolute;bottom:0px;height: 1px;width:85%;width: -webkit-calc(100% - 124px);width: -moz-calc(100% - 124px);width: calc(100% - 124px);border-bottom:1px solid #817bba;}
	.block.type-5 .block-header .title{color:#fefeff;}
	.block.type-5 .block-header .text{color:#fff;border-left:1px solid #817bba;}
	.clients-wrapper{position:relative;}
	.clients-entry a {display:block;opacity:0.6;filter: alpha(opacity=60);}
	.clients-entry a:hover{opacity:1;filter: alpha(opacity=100);}
	.block.type-5 .pagination{display:none;}
	.block.type-5 .arrows {position:absolute;top:-72px;right:0px;width:79px;}
	.block.type-5 .arrows .left,.block.type-5 .arrows .right{display:inline-block;padding:8px 9px;border:1px solid #807ab9;}
	.block.type-5 .arrows .left:hover,.block.type-5 .arrows .right:hover{opacity:0.6;filter: alpha(opacity=60);cursor:pointer;}
	.block.type-5 .arrows .left{margin-right:11px;-webkit-border-top-left-radius:7px;-webkit-border-bottom-right-radius:7px;-moz-border-radius-topleft:7px;-moz-border-radius-bottomright:7px;border-top-left-radius:7px;border-bottom-right-radius:7px;}
	.block.type-5 .arrows .right{-webkit-border-top-right-radius:7px;-webkit-border-bottom-left-radius:7px;-moz-border-radius-topright:7px;-moz-border-radius-bottomleft:7px;border-top-right-radius:7px;border-bottom-left-radius:7px;}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 13 - BLOCK "TYPE 6" */
/*-------------------------------------------------------------------------------------------------------------------------------*/
	.block.type-6 .swiper-container {margin-bottom:35px;}
	.block.type-6 .swiper-slide:nth-child(odd) .row{padding-right:15px;}
	.block.type-6 .swiper-slide:nth-child(even) .row{padding-left:15px;}	
	.testimonials-entry.text-right img{float:right;margin-left:20px;-webkit-border-top-left-radius:19px;-webkit-border-bottom-right-radius:19px;-moz-border-radius-topleft:19px;-moz-border-radius-bottomright:19px;border-top-left-radius:19px;border-bottom-right-radius:19px;}
	.testimonials-entry.text-left img{float:left;margin-right:20px;-webkit-border-top-right-radius:19px;-webkit-border-bottom-left-radius:19px;-moz-border-radius-topright:19px;-moz-border-radius-bottomleft:19px;border-top-right-radius:19px;border-bottom-left-radius:19px;}
	.testimonials-entry .name{font-size:17px;line-height:19px;color:#242434;margin-bottom: 2px;}
	.testimonials-entry .job{font-size:13px;line-height:19px;color:#6b6a6a;margin-bottom: 9px;}
	.testimonials-entry .job span {color:#3d356f;}
	.testimonials-entry .text{font-family:'light';font-size:13px;line-height:18px;color:#6b6a6a;}
	.block.type-6 .testimonials-wrapper .pagination{display:none;}
	.block.type-6 .arrows{text-align:center;}
	.block.type-6 .arrows .left {display:inline-block;width:30px;height:30px;margin-right:30px;background:url(../img/testimonials-left.png) center center no-repeat transparent;border:1px solid #3d356f;-webkit-border-top-left-radius:7px;-webkit-border-bottom-right-radius:7px;-moz-border-radius-topleft:7px;-moz-border-radius-bottomright:7px;border-top-left-radius:7px;border-bottom-right-radius:7px;}
	.block.type-6 .arrows .left:hover{cursor:pointer;background:url(../img/testimonials-left-active.png) center center no-repeat #3d356f;}
	.block.type-6 .arrows .right{display:inline-block;width:30px;height:30px;background:url(../img/testimonials-right.png) center center no-repeat transparent;border:1px solid #3d356f;-webkit-border-top-right-radius:7px;-webkit-border-bottom-left-radius:7px;-moz-border-radius-topright:7px;-moz-border-radius-bottomleft:7px;border-top-right-radius:7px;border-bottom-left-radius:7px;}
	.block.type-6 .arrows .right:hover{cursor:pointer;background:url(../img/testimonials-right-active.png) center center no-repeat #3d356f;}
	
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 14 - BLOCK "TYPE 7" */
/*-------------------------------------------------------------------------------------------------------------------------------*/	
	.block.type-7 .corner-rounding{margin-right:20px;-webkit-border-top-left-radius:29px;-webkit-border-bottom-right-radius:29px;-moz-border-radius-topleft:29px;-moz-border-radius-bottomright:29px;border-top-left-radius:29px;border-bottom-right-radius:29px;}
	.block.type-7 .media{margin-bottom:45px;}
	.block.type-7 .media .title{font-family:'medium';font-size:25px;color:#242434;text-transform:uppercase;margin-bottom:10px;}
	.block.type-7 .media .text{font-family:"light";font-size:17px;line-height:25px;}
	.block.type-7 .media .text p{margin-bottom:15px;}
	.block.type-7 .icon-entry{margin-bottom:55px;}
	.block.type-7 .icon-entry:nth-child(3),.block.type-7 .icon-entry:last-child{margin-bottom:0px;}
	.block.type-7 .icon-entry .icon{float:left;padding:20px;background-image: url(../img/pattern.png);-webkit-border-top-left-radius:14px;-webkit-border-bottom-right-radius:14px;-moz-border-radius-topleft:14px;-moz-border-radius-bottomright:14px;border-top-left-radius:14px;border-bottom-right-radius:14px;}
	.block.type-7 .icon-entry .description{padding-left:100px;}
	.block.type-7 .icon-entry .title{font-size:17px;line-height:24px;color:#242434;text-transform:uppercase;}
	.block.type-7 .icon-entry .text{font-family:"light";font-size:15px;line-height:24px;color:#242434;}
	@media (max-width: 767px) {
		.block.type-7 .media-left{display: block;margin-bottom:30px;}
		.block.type-7 .media-body{display: block;width: 100%;}
		.block.type-7 .media-object{display: block;max-width: 100%;height: auto;}
	}	
	@media (min-width: 768px) and (max-width: 991px) {
		.block.type-7 .media-left{display: block;margin-bottom:30px;}
		.block.type-7 .media-body{display: block;width: 100%;}
		.block.type-7 .media-object{display: block;max-width: 100%;height: auto;}		
	}	
	
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 15 - BLOCK "TYPE 8" */
/*-------------------------------------------------------------------------------------------------------------------------------*/
	.blog-post{text-align:center;}
	.block.type-8 .swiper-container{margin-bottom:35px;}
	.block.type-8 .swiper-slide:nth-child(odd) .row{padding-right:15px;}
	.block.type-8 .swiper-slide:nth-child(even) .row{padding-left:15px;}
	.blog-post .corner-rounding {display: block;max-width: 100%;height: auto;margin: 0 auto 25px auto;}
	.blog-post .corner-rounding{-webkit-border-top-left-radius:27px;-webkit-border-bottom-right-radius:27px;-moz-border-radius-topleft:27px;-moz-border-radius-bottomright:27px;border-top-left-radius:27px;border-bottom-right-radius:27px;}
	.blog-post .title{font-size:15px;line-height:24px;color:#242434;text-transform:uppercase;margin-bottom:20px;}
	.blog-post .text{font-family:'light';font-size:14px;line-height:24px;color:#6b6a6a;margin-bottom:25px;}
	.block.type-8 .pagination{display:none;}
	.block.type-8 .arrows{text-align:center;}
	.block.type-8 .arrows .left {display:inline-block;width:30px;height:30px;margin-right:30px;background:url(../img/testimonials-left.png) center center no-repeat transparent;border:1px solid #3d356f;-webkit-border-top-left-radius:7px;-webkit-border-bottom-right-radius:7px;-moz-border-radius-topleft:7px;-moz-border-radius-bottomright:7px;border-top-left-radius:7px;border-bottom-right-radius:7px;}
	.block.type-8 .arrows .left:hover{cursor:pointer;background:url(../img/testimonials-left-active.png) center center no-repeat #3d356f;}
	.block.type-8 .arrows .right{display:inline-block;width:30px;height:30px;background:url(../img/testimonials-right.png) center center no-repeat transparent;border:1px solid #3d356f;-webkit-border-top-right-radius:7px;-webkit-border-bottom-left-radius:7px;-moz-border-radius-topright:7px;-moz-border-radius-bottomleft:7px;border-top-right-radius:7px;border-bottom-left-radius:7px;}
	.block.type-8 .arrows .right:hover{cursor:pointer;background:url(../img/testimonials-right-active.png) center center no-repeat #3d356f;}
	.blog-post .meta-entry div{font-size:13px;line-height:24px;color:#7c76b5;position:relative;padding-left:27px;}
	.blog-post .meta-entry .date{float:left;}
	.blog-post .meta-entry .date:before{content:"";display:block;position:absolute;top:0px;left:0px;width:20px;height:20px;background:url(../img/date.png)center center no-repeat;}
	.blog-post .meta-entry .comments{float:right;padding-left:34px;}
	.blog-post .meta-entry .comments:before{content:"";display:block;position:absolute;top:0px;left:0px;width:27px;height:20px;background:url(../img/comments.png)center center no-repeat;}
	
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 16 - BLOCK "TYPE 9" */
/*-------------------------------------------------------------------------------------------------------------------------------*/	
	.block.type-9{background:#cdd6dc;padding-top: 30px;padding-bottom: 30px;}
	.block.type-9 p{margin-top:6px;}
	.block.type-9 .text{font-family:'light';font-size:17px;line-height:25px;color:#6b6a6a;}
	.block.type-9 .title{font-family:'medium';font-size:25px;color:#242434;text-transform:uppercase;margin-right:10px;}
	.block.type-9 .button a{border: 3px solid #cdd6dc;}
	@media (max-width: 767px) {
		.block.type-9 .text, .block.type-9 .title{display:block;margin-bottom:5px;}
		.block.type-9 .pull-left{float: none!important;}
		.block.type-9 .pull-right{float: none!important;margin-bottom:5px;}
	}
	@media (min-width: 768px) and (max-width: 991px) {
		.block.type-9 .text, .block.type-9 .title{display:block;margin-bottom:5px;}
		.block.type-9 .button{margin-top: 12px;}
	}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 09 - BLOCK "TYPE 10" */
/*-------------------------------------------------------------------------------------------------------------------------------*/
	.block.type-10{padding-bottom:0px;}
	.block.type-10 .block-header{margin-bottom:0px;}	
	.form-block{padding-top:55px;}
	.form-block .form-text{font-family:'light';font-size:17px;line-height:24px;margin-bottom:40px;}
	.form-block .text-blue{color: #38a9f6;}
	.form-block input{margin-bottom:40px;}
	.form-block textarea{height:80px;}
	.form-block  .button{margin-top:50px;}
	@media (max-width: 767px) {
		.form-block  .button{margin-bottom:40px;}
	}	
	@media (min-width: 768px) and (max-width: 991px) {
		.form-block{padding-top:45px;}
		.form-block .form-text{margin-bottom:40px;}
		.form-block input{margin-bottom:30px;}
		.form-block textarea{height:70px;}
		.form-block  .button{margin-top:40px;}	
	}	
	
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 09 - BLOCK "TYPE 11" */
/*-------------------------------------------------------------------------------------------------------------------------------*/
	.blog-list-wrapper{height: 845px;overflow: hidden;}
	.blog-list-wrapper:before{content:'';position:absolute;top:-3px;left:112px;display:block;width:7px;height:7px;background:#fff;-webkit-border-radius: 7px;-moz-border-radius: 7px;border-radius: 7px;}
	.blog-list-wrapper:after{content:'';position:absolute;bottom:-3px;left:112px;display:block;width:7px;height:7px;background:#fff;-webkit-border-radius: 7px;-moz-border-radius: 7px;border-radius: 7px;}	
	.blog-list-wrapper .swiper-slide{opacity:0.85;filter: alpha(opacity=85);}
	.blog-list-wrapper .swiper-slide:hover {opacity:1.0;filter: alpha(opacity=100);}	
	.blog-list-wrapper .data-column{position:relative;width:130px;height:193px;float:left;color:#fff;}
	.blog-list-wrapper .data-column .date span{display:block;font-family:'medium';font-size:35px;margin:0px 0px 5px 10px;}
	.blog-list-wrapper .data-column .date{font-family:'regular';font-size:13px;line-height:22px;padding-top:80px;}
	.blog-list-wrapper .data-column  .navline{position:absolute;left:100px;top:0px;width:1px;height:218px;background:#f5f4f6;}
	.blog-list-wrapper .data-column .data-image{position:absolute;left:78px;top:50%;margin-top:-21px;width:42px;height:42px;background-color:#fff;-webkit-border-radius: 42px;-moz-border-radius: 42px;border-radius: 42px;background-repeat: no-repeat;background-position:center center;}
	.blog-list-wrapper .data-column .data-image.photo{background-image: url(../img/post-photo.png);}
	.blog-list-wrapper .data-column .data-image.text{background-image: url(../img/post-text.png);}
	.blog-list-wrapper .data-column .data-image.video{background-image: url(../img/post-video.png);}	
	.swiper-slide:last-child .data-column  .navline {top:0px;height:193px;}
	.blog-list-wrapper .list-post-wrapper{padding-left: 130px;}
	.list-post{position:relative;height:193px;background:#fff;margin-bottom:25px;padding:10px;-webkit-border-top-left-radius:15px;-webkit-border-bottom-right-radius:15px;-moz-border-radius-topleft:15px;-moz-border-radius-bottomright:15px;border-top-left-radius:15px;border-bottom-right-radius:15px;}
	.list-post .post-image, .list-post .video {float:left;margin-right:15px;-webkit-border-top-left-radius:15px;-webkit-border-bottom-right-radius:15px;-moz-border-radius-topleft:15px;-moz-border-radius-bottomright:15px;border-top-left-radius:15px;border-bottom-right-radius:15px;}
	.list-post .video{position:relative;display:block;width:198px;height:170px;}
	.list-post .video:before{content: '';position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;z-index: 100;-webkit-border-top-left-radius:15px;-webkit-border-bottom-right-radius:15px;-moz-border-radius-topleft:15px;-moz-border-radius-bottomright:15px;border-top-left-radius:15px;border-bottom-right-radius:15px;}
	.list-post .video:hover:before{background: url(../img/play-icon.png) center center no-repeat rgba(61, 53, 111, 0.6);}
	.list-post .title{font-size:14px;line-height:18px;color:#3d356f;margin-bottom:10px;}
	.list-post .text{font-size:13px;line-height:18px;color:#242434;margin-bottom:15px;}
	.list-post .post-category{position:absolute;bottom:17px;left:10px;font-size:12px;line-height:24px;color:#7c76b5;}
	.list-post .post-category a{color:#7c76b5;}
	.list-post .post-category a:hover{opacity:0.6;filter: alpha(opacity=60);}
	.list-post .post-category img{margin-right:8px;position:relative;top:3px;}
	.list-post .post-link{position:absolute;bottom:8px;right:10px;}
	.list-post .post-content{padding-left:0px;}	
	.list-post .post-content .post-category{position:absolute;bottom:17px;left:220px;}
	.list-post .post-content .post-link{position:absolute;bottom:8px;right:10px;}
	.list-post .arrow-left{background: url(../img/testimonials-right.png) center center no-repeat transparent;}
	.list-post .arrow-left:hover{background: url(../img/testimonials-right-active.png) center center no-repeat #3d356f;}
	.blog-list-wrapper .arrow.top{position:absolute;top:-35px;left:108px;}
	.blog-list-wrapper .arrow.bottom{position:absolute;bottom:-35px;left:108px;}
	.blog-list-wrapper .arrow:hover{cursor:pointer;opacity:0.6;filter: alpha(opacity=60);}
	.block.block-11 .swiper-container .pagination{display:none;}
	.blog-list-detail {height: 845px;overflow-y: hidden;}
	.blog-list-detail .title{position:relative;font-size:25px;line-height:31px;text-transform:uppercase;color:#fff;padding-bottom:15px;margin-bottom:30px;border-bottom:1px solid #d0d8de;}
	.blog-list-detail .title:after {content: "";display: inline-block;position: absolute;bottom: -2px;left: 0px;width: 39px;height: 3px;background: #38a9f6;}
	.blog-list-detail .data-column{margin-bottom:25px;}
	.blog-list-detail .data-column a{color:#fff;}
	.blog-list-detail .data-column a:hover{color:#c0bce8;}
	.blog-list-detail .data-category{float:left;width:35%;}
	.blog-list-detail .data-author{float:left;width:35%;}
	.blog-list-detail .data-comments{float:left;width:30%;}
	.blog-list-detail .data-column .icon{position:relative;top:3px;margin-right:5px;}
	.blog-list-detail .text p{font-family:'light';font-size:15px;line-height:24px;color:#fff;margin-bottom:15px;}
	.blog-list-detail .text .corner-rounding{-webkit-border-top-left-radius:22px;-webkit-border-bottom-right-radius:22px;-moz-border-radius-topleft:22px;-moz-border-radius-bottomright:22px;border-top-left-radius:22px;border-bottom-right-radius:22px;}
	.blog-list-detail .text .social{margin-top:30px;padding-top:15px;border-top:1px solid #8276ae;text-align:right;}
	.blog-list-detail .text .social a{margin-left:10px;}
	.blog-list-detail .text .social a:hover{opacity:0.6;filter: alpha(opacity=60);}
	@media (max-width: 767px) {
		.blog-list-wrapper{margin-bottom:50px;}
	}	
	@media (max-width:600px){
		.blog-list-wrapper{height: 760px;}
		.blog-list-wrapper .data-column{float:none;width: 100%;}
		.blog-list-wrapper .data-column .navline{left: 50%;}
		.blog-list-wrapper .list-post-wrapper{padding-left: 0px;}
		.list-post{margin-bottom: 0px;}
		.blog-list-wrapper:before,.blog-list-wrapper:after{left: 50%;margin-left:-3px;}
		.blog-list-wrapper .arrow.top,.blog-list-wrapper .arrow.bottom{left:50%; margin-left: -6px;}
		.blog-list-wrapper .data-column{height: 143px;}
		.list-post{height: 223px}
		.blog-list-wrapper .data-column .date{padding-top: 54px;}
		.list-post .post-image, .list-post .video{width:150px;height:129px;}
		.list-post .post-content .post-category{left:17px;}
	}
	@media (min-width: 768px) and (max-width: 991px) {
		.blog-list-detail{margin-top:50px;}	
	}	
	@media (min-width:992px) and (max-width:1199px){
		.blog-list-wrapper:before,.blog-list-wrapper:after{left: 98px;}
		.blog-list-wrapper .data-column{width: 115px;}
		.list-post .post-image, .list-post .video{width: 110px;}
		.blog-list-wrapper .data-column .navline{left: 86px;}
		.blog-list-wrapper .data-column .data-image{left: 65px;}
		.list-post .post-content .post-category{bottom: 14px;left: 10px;}
		.blog-list-wrapper .list-post-wrapper{padding-left: 115px;}
		.blog-list-wrapper .arrow.top,.blog-list-wrapper .arrow.bottom{left: 94px;}
	}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 09 - BLOCK "TYPE 12" */
/*-------------------------------------------------------------------------------------------------------------------------------*/
	.block.type-12{position:relative;padding-top:120px;padding-bottom:120px;}
	.block.type-12 .video{text-align:center;}
	.block.type-12 .video .text{font-size:17px;line-height:25px;color:#fff;margin-bottom:35px;}
	.block.type-12 .video .video-icon:hover{opacity:0.6;filter: alpha(opacity=60);}
	.popup-video{display:none;position: absolute;top:0px;left: 0%;width: 100%;height: 100%;}
	.movie{height: inherit;}
	.popup-video iframe{width:100%;height:100%;}
	.popup-video .movie .close-button{position: absolute;right: 0px;top: 0px;width: 30px;height: 30px;background: #356BBC;text-align: center;line-height: 30px;}
	.popup-video .movie .close-button {color: #fff;}
	.popup-video .movie .close-button:hover{cursor:pointer;cursor:opacity:0.6;filter: alpha(opacity=60);}
	
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 16 - BLOG */
/*-------------------------------------------------------------------------------------------------------------------------------*/
	.blog-wrapper{}
	.blog-wrapper .blog-entry{margin-bottom:100px;}
	.blog-entry .data-column{float: left;width: 70px;text-align: center;}
	.blog-entry .data-column .date{-webkit-border-top-left-radius:14px;-moz-border-radius-topleft:14px;border-top-left-radius:14px;background-color: #3d356f;height: 70px;width:70px;font-size: 13px;color: #d5d2f3;line-height: 21px;margin-bottom: 35px;}
	.blog-entry .data-column .date span{display: block;font-family:'medium';font-size: 30px;padding:12px 0px 10px 0px;}
	.blog-entry .data-column .data-entry, .blog-entry .data-column .data-entry a{display:block;font-family:'light';font-size: 15px;line-height: 24px;color: #3d356f;margin-bottom: 28px;}
	.blog-entry .data-column .data-entry:last-child{margin-bottom: 0px;}
	.blog-entry .data-column .data-entry a:hover{cursor:pointer;opacity:0.6;filter: alpha(opacity=60);}
	.blog-entry .data-column .data-entry .icon-entry{display: inline-block;background-position: center center;background-repeat: no-repeat;}
	.blog-entry .data-column .data-entry .icon-entry.like{width:32px;height:24px;background-image: url(../img/blog-like.png);}
	.blog-entry .data-column .data-entry .icon-entry.views{width:40px;height:24px;background-image: url(../img/blog-views.png);}
	.blog-entry .data-column .data-entry .icon-entry.comments{width:40px;height:24px;background-image: url(../img/blog-comments.png);}
	.blog-entry .image-column {padding-left:100px;}
	.blog-entry .image-column a{display: block;position:relative;-webkit-border-top-left-radius:45px;-webkit-border-bottom-right-radius:45px;-moz-border-radius-topleft:45px;-moz-border-radius-bottomright:45px;border-top-left-radius:45px;border-bottom-right-radius:45px;overflow:hidden;}
	.blog-entry .image-column a:before{content:'';position:absolute;top:0px;left:0px;width:100%;height: 100%;z-index:100;}
	.blog-entry .image-column a:hover:before{background:url(../img/play-icon.png) center center no-repeat rgba(61, 53, 111, 0.6);}
	.blog-entry .content{color:#242434;}
	.blog-entry .content .title{display:block;position:relative;font-family:'medium';font-size:24px;line-height:31px;color:#242434;padding-bottom:20px;margin-bottom:25px;border-bottom:1px solid #cdd6dc;}
	.blog-entry .content .title:after{content:"";display:inline-block;position:absolute;bottom:-2px;left:0px;width:39px;height:3px;background:#38a9f6;}
	.blog-entry .content .author,.blog-entry .content .description{font-family:'light';font-size:14px;line-height:24px;}
	.blog-entry .content .author {margin-bottom:10px;}
	.blog-entry .content .author a{font-family: 'regular';color:#7c76b5;}
	.blog-entry .content .description{margin-bottom:25px;}
	.blog-inline .pagination{padding-left:100px;}
	/*pagination*/
	.pagination{display:block;padding:0px;margin:0px 0px 60px 0px;border-radius:0px;}
	.pagination ul{list-style:none;text-align: center;}
	.pagination ul li{display: inline;}
	.pagination ul li a{display:inline-block;padding: 7px 0px;width: 30px;color:#242434;border:1px solid transparent;}
	.pagination ul li.active a{border:1px solid #3d356f;-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;}
	.pagination .previous{float: left;display: inline-block;width: 30px;height: 30px;margin-right: 30px;background: url(../img/testimonials-left.png) center center no-repeat transparent;border: 1px solid #3d356f;-webkit-border-top-left-radius: 7px;-webkit-border-bottom-right-radius: 7px;-moz-border-radius-topleft: 7px;-moz-border-radius-bottomright: 7px;border-top-left-radius: 7px;border-bottom-right-radius: 7px;}
	.pagination .previous:hover{cursor:pointer;background:url(../img/testimonials-left-active.png) center center no-repeat #3d356f;}
	.pagination .next{float: right;display:inline-block;width:30px;height:30px;background:url(../img/testimonials-right.png) center center no-repeat transparent;border:1px solid #3d356f;-webkit-border-top-right-radius:7px;-webkit-border-bottom-left-radius:7px;-moz-border-radius-topright:7px;-moz-border-radius-bottomleft:7px;border-top-right-radius:7px;border-bottom-left-radius:7px;}
	.pagination .next:hover{cursor:pointer;background:url(../img/testimonials-right-active.png) center center no-repeat #3d356f;}
	.pagination .previous a, .pagination .next a {border:none;}
	/*Blog detail*/
	.blog-detail .title{position:relative;font-size:25px;line-height:31px;color:#242434;text-transform:uppercase;padding-bottom:	25px;margin-bottom:40px;border-bottom: 1px solid #d0d8de;}
	.blog-detail .title:after {content: "";display: inline-block;position: absolute;bottom: -2px;left: 0px;width: 36px;width: 39px;height: 3px;background: #38a9f6;}
	.blog-detail.blog-entry .data-column{float:none;width:auto;}
	.blog-detail.blog-entry .data-column .date, .blog-detail.blog-entry .data-column .data-entry {float:left;margin-bottom:0px;}
	.blog-detail.blog-entry .data-column .data-entry{font-family: 'regular';font-size:12px;line-height: 24px;color:#7c76b5;padding-top: 10px;}
	.blog-detail.blog-entry .data-column .data-entry .icon-entry.category{width: 29px;height: 25px;width: 105px;background-image: url(../img/blog-category.png);}
	.blog-detail.blog-entry .data-column .data-entry .icon-entry.comments{width: 30px;height: 25px;width: 80px;background-image: url(../img/blog-comments-grid.png);}	
	.blog-detail.blog-entry .data-column .data-entry .icon-entry.pensil{width: 23px;height: 25px;width: 105px;background-image: url(../img/blog-pensil.png);}
	.blog-detail .social{float:right;padding-top: 20px;}
	.blog-detail .social a img{padding:7px 7px 7px 8px;background-image:url(../img/pattern.png);background-repeat: repeat;-webkit-border-top-left-radius: 6px;-webkit-border-bottom-right-radius: 6px;-moz-border-radius-topleft: 6px;-moz-border-radius-bottomright: 6px;border-top-left-radius: 6px;border-bottom-right-radius: 6px;}
	.blog-detail .social a:hover{opacity:0.6;filter: alpha(opacity=60);}
	.blog-detail.blog-entry .content{padding-left: 0px;}
	.blog-detail .content p{font-family:'light';font-size:17px;line-height:25px;color:#242434;margin-bottom:15px;}
	.blog-detail .content em {font-family: 'italic';}
	.blog-detail .content .img-rounding{-webkit-border-top-left-radius: 35px;-webkit-border-bottom-right-radius: 35px;-moz-border-radius-topleft: 35px;-moz-border-radius-bottomright: 35px;border-top-left-radius: 35px;border-bottom-right-radius: 35px;}
	.blog-detail .content .pull-left{margin:0px 15px 15px 0px;}
	.blog-detail .content .pull-right{margin:15px 0px 15px 15px;}
	/*popular-post*/
	.popular-post {margin-bottom:70px;}
	.popular-post > .title{position:relative;display:block;font-size:20px;line-height:38px;text-transform: uppercase;margin-bottom:60px;padding-bottom:20px;border-bottom:1px solid #d0d8de;}
	/*comments*/
	.comment-entry{color:#fff;margin-bottom:35px;}
	.comment-entry .comment-icon{float:left;margin-right:15px;}
	.comment-entry >.comment-icon{-webkit-border-top-right-radius:22px;-webkit-border-bottom-left-radius:22px;-moz-border-radius-topright:22px;-moz-border-radius-bottomleft:22px;border-top-right-radius:22px;border-bottom-left-radius:22px;}
	.comment-entry .comment-icon .comment-entry .comment-icon{-webkit-border-top-left-radius: 22px;-webkit-border-bottom-right-radius: 22px;-moz-border-radius-topleft: 22px;-moz-border-radius-bottomright: 22px;border-top-left-radius: 22px;border-bottom-right-radius: 22px;}
	.comment-entry .comment-text{padding-left:110px;}
	.comment-entry .title{position:relative;font-size:13px;line-height:24px;padding-left:30px;margin-bottom:10px;}
	.comment-entry .title:before{content:'';position:absolute;left: 0px;display:block;width:20px;height:20px;background:url(../img/clock.png) center center no-repeat;}
	.comment-entry .title .name{font-size:15px;line-height:19px;}
	.comment-entry .description{font-family: 'light';font-size:13px;line-height:18px;margin-bottom:20px;}
	.comment-entry .comment-link{position:relative;font-size:13px;line-height:24px;color:#d7d3e6;padding-left:28px;}
	.comment-entry .comment-link:before{content:'';position:absolute;top: 4px;left: 0px;display:block;width:20px;height:16px;background:url(../img/reply.png) center center no-repeat;}
	.comment-wrapper .comment-wrapper{padding-left:110px;}
	

	
	@media (max-width: 767px) {
		.blog-entry .data-column:after{content: " ";display: table;clear: both;}
		.blog-entry .data-column .date,.blog-entry .data-column .data-entry{float: left;}
		.blog-entry .data-column .data-entry{width: 70px;padding-top: 12px;}
		.blog-entry .data-column{float: none;width:auto;}
		.blog-entry .image-column{padding-left: 0px;}
		.blog-wrapper .pagination{padding-left: 0px;}
		.popular-post .blog-post{margin-bottom:30px;}
		.comment-wrapper .comment-wrapper{padding-left:0px;}		
	}	
	
	@media (max-width: 425px) {
		.blog-entry .data-column,.blog-detail.blog-entry .data-column,.grid-wrapper .blog-entry .data-column{width: 200px!important;margin: 0 auto!important;}
		.blog-detail .social{float:left;margin-left: 50px;margin-bottom: 25px;}
		.blog-entry .data-column .date, .blog-entry .data-column .data-entry{width: 100px;}
		.blog-entry .data-entry:nth-child(3) a, .blog-detail.blog-entry .data-entry:last-child a{margin-bottom: 5px;}
		.grid-wrapper .blog-entry .data-column .data-entry{margin-bottom: 4px!important;}
	}
	
	@media (min-width: 768px) and (max-width: 991px) {
		.blog-entry .content{padding-left: 100px;}
		.popular-post .blog-post{margin-bottom:30px;}
	}		
	
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 17 - BLOG V-2*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
	.filter{margin-bottom:40px;}
	.filter-header{margin-bottom:30px;}
	.filter .title{position:relative;display:block;font-size:20px;line-height:38px;text-transform: uppercase;padding-bottom:20px;border-bottom:1px solid #d0d8de;}
	.filter .title:after{content:"";display:inline-block;position:absolute;bottom:-2px;left:0px;width:36px;width:39px;height:3px;background:#38a9f6;}
	.filter .search{margin-top: 15px;}
	.search-block {position:relative;}
	.search-block .search-submit{position:absolute;right:35px;bottom:10px;width:20px;height:20px;background: url(../img/search.png) center center no-repeat transparent;border:none;}
	.filter .input-entry{font-family:'light';font-size:17px;color:#242434;margin-bottom:20px;}	
	.filter .input-entry .radio-form	+ label span {display: inline-block;width: 11px;height: 11px;border:1px solid #38a9f6;-webkit-border-radius: 11px;-moz-border-radius: 11px;border-radius: 11px;		margin: -1px 15px 0 0;cursor: pointer;}
	.filter .input-entry .radio-form:checked + label span {background:#38a9f6;}
	.filter .input-entry .radio-form:hover + label span {background:#38a9f6;}
	.filter .input-entry label:hover{cursor: pointer;}
	.grid-wrapper .item{margin-bottom:30px;}
	.grid-wrapper .blog-entry{background:#fff;margin-bottom:0px;-webkit-border-top-left-radius: 14px;-moz-border-radius-topleft: 14px;border-top-left-radius: 14px;}
	.grid-wrapper .blog-entry .data-image{-webkit-border-bottom-right-radius: 20px;-moz-border-radius-bottomright: 20px;border-bottom-right-radius: 20px;}
	.grid-wrapper .blog-entry .data-column{float:none;width:auto;}
	.blog-entry .data-column .data-entry a{margin-bottom: 0px;}
	.grid-wrapper .blog-entry .data-column .date, .grid-wrapper .blog-entry .data-column .data-entry {float:left;margin-bottom:0px;}
	.grid-wrapper .blog-entry .data-column .data-entry a{font-family: 'regular';font-size:12px;line-height: 24px;color:#7c76b5;padding-top: 10px;}
	.grid-wrapper .blog-entry .data-column .data-entry .icon-entry.category{width: 29px;height: 25px;width: 105px;background-image: url(../img/blog-category.png);}
	.grid-wrapper .blog-entry .data-column .data-entry .icon-entry.comments{width: 30px;height: 25px;width: 80px;background-image: url(../img/blog-comments-grid.png);}	
	.grid-wrapper .blog-entry .data-column .data-entry .icon-entry.pensil{width: 23px;height: 25px;width: 105px;background-image: url(../img/blog-pensil.png);}
	.grid-wrapper .blog-entry .content{padding:23px;}
	.grid-wrapper .blog-entry .content .title{font-size:15px;line-height:24px;text-transform:uppercase;}
	.grid-sizer {width: 0px;}
	.grid-wrapper .pagination{padding-left: 0px;}
	@media (min-width: 768px) and (max-width: 991px) {
		.grid-wrapper .blog-entry .data-column .data-entry .icon-entry.category,.grid-wrapper .blog-entry .data-column .data-entry .icon-entry.pensil{width: 100px;}
		.grid-wrapper .blog-entry .data-column .data-entry .icon-entry.comments{width: 75px;}
		.filter .input-entry{font-size:15px;}
		.filter .input-entry .radio-form	+ label span{margin: -1px 7px 0 0;}
	}	
	@media (min-width:992px) and (max-width:1199px){
		.grid-wrapper .blog-entry .data-column .data-entry .icon-entry.category,.grid-wrapper .blog-entry .data-column .data-entry .icon-entry.pensil{width: 72px;}
		.grid-wrapper .blog-entry .data-column .data-entry .icon-entry.comments{width: 50px;}
	}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 29 - TYPOGRAPHY STYLES */
/*-------------------------------------------------------------------------------------------------------------------------------*/	
	.typography-block{margin-bottom:20px;}
	.typography-block h1{font-size:70px;line-height:84px;color:#242434;}
	.typography-block h2{font-size:68px;line-height:84px;color:#242434;}
	.typography-block h3{font-size:25px;line-height:54px;color:#242434;}
	.typography-block h4{font-size:20px;line-height:50px;color:#242434;}
	.typography-block h5{font-size:17px;line-height:48px;color:#242434;}
	.typography-block h6{font-size:15px;line-height:47px;color:#242434;}
	.typography-block .search-block{margin-bottom:40px;}
	.typography-block .search-block .form-input{margin-bottom:0px;}
	.typography-block .form-input{margin-bottom:40px;}
	.typography-block .comment-entry{font-family:'light';}
	.typography-block .comment-entry .name{font-family:'regular';}
	.typography-block .comment-entry .title{color:#3d356f;}
	.typography-block .comment-entry .description{color:#242434;}
	.typography-block .icon-blocks .services{margin-bottom:15px;}
	.typography-block .icon-blocks.style-2 .services{text-align:center;}
	.typography-block .icon-blocks.style-2 .icon-service{float: none;background:none;}
	.typography-block .icon-blocks.style-2 .description{padding-left: 0px;}
	.typography-block .social-block{display:inline-block;}
	.typography-block .arrows{display:inline-block;}
	.typography-block .blog-example{margin-top:35px;}
	.typography-block .blog-list-wrapper{height: 411px;}
	.typography-block .blog-list-wrapper:after,.typography-block .blog-list-wrapper:before{background: #3d356f;}
	.typography-block .blog-list-wrapper .data-column{color:#3d356f;}
	.typography-block .blog-list-wrapper .data-column .data-image{background-color:#d7d3e6;}
	.typography-block .blog-list-wrapper .data-column .navline{background:#484177;}	
	.typography-block .blog-list-wrapper .list-post{background:#f3f2f6;}
	/*panel-group*/
	.panel-group .panel{border-radius: 0px;border:none;-webkit-box-shadow: none;box-shadow: none;}
	.panel-group .panel-title a{display: block;position:relative;font-family:'light';font-size:14px;line-height:24px;color:#fff;background:#615996;padding: 7px 15px;border-bottom:none;}
	.panel-group .panel-title a:after{content:"";display:block;position:absolute;right:15px;top:50%;margin-top:-2px;width:9px;height:5px;background: url(../img/group-open.png) center center no-repeat transparent;}	
	.panel-group .panel-title a.collapsed{color:#242434;background:#f3f2f6;border-bottom:1px solid #e4e0f2;}
	.panel-group .panel-title a.collapsed:after{background: url(../img/group-close.png) center center no-repeat transparent;}
	.panel-heading{padding: 0px;border-top-left-radius: 0px;border-radius: 0px;}
	.panel-default > .panel-heading{background-color:#f3f2f6;}
	.panel-group .panel-body{font-family:'light';font-size:13px;line-height:18px;color: #fff;}	
	.panel-default>.panel-heading+.panel-collapse>.panel-body{border-top: none;}
	.panel-group .panel .collapse.in, .panel-group .panel .collapsing {background:#3d3570;}
	/*tabs*/
	.nav-tabs{  border-bottom: 1px solid #d7d3e6;}
	.nav-tabs>li{border:1px solid #d7d3e6;border-right:none;}
	.nav-tabs>li:last-child{border-right:1px solid #d7d3e6;}
	.nav-tabs>li.active{border-top:1px solid #615996;}
	.nav-tabs>li>a{font-size:14px;line-height:18px;color:#3d356f;margin-right:0px;border:none;border-top:1px solid transparent;border-radius: 0px;background:#f3f2f6;}
	.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{background:#fff;color:#3d356f;border:none;border-top:1px solid #615996;}
	.tab-content{font-family:'light';font-size:13px;line-height:18px;color:#242434;padding:20px 14px;border-left:1px solid #d7d3e6;border-bottom:1px solid #d7d3e6;border-right:1px solid #d7d3e6;}
	.tab-content p{margin-bottom:15px;}
	.tab-content p:last-child{margin-bottom:0px;}
	/*--*/
	.typography-block .grid-wrapper .blog-entry{background: #f5f4f7;}
	.typography-block .grid-wrapper .button a{border: 3px solid #f5f4f7;}
	.skill .diagramma{padding:10px 10px 20px 10px;text-align:center;border:1px solid #d0d8de;}
	.diagramma div{display: inline-block;float: none;position: relative;text-align:center;}
	.diagramma .statist .title{font-family:'medium';font-size:15px;line-height:24px;color:#242434;text-transform:uppercase;margin-bottom:5px;}
	.diagramma .statist .text{font-family:'light';font-size:13px;line-height:18px;color:#242434;}
	.typography-block .text-block{font-family:'light';font-size:17px;line-height:25px;color:#242434;}
	.typography-block .text-block h6{font-family:'medium';font-size:16px;line-height:35px;}
	.progress{position:relative;height:38px;border-radius: 0px;-webkit-border-top-right-radius: 17px;-moz-border-radius-topright: 17px;border-top-right-radius: 17px;-webkit-box-shadow: none;box-shadow: none;}
	.progress-bar{font-size:14px;line-height:35px;height:38px;background-color: #38a9f6;text-align: right;line-height:38px;padding-right: 10px;overflow:hidden;-webkit-border-top-right-radius: 17px;-moz-border-radius-topright: 17px;border-top-right-radius: 17px;}
	.progress-bar .name{position:absolute;left:10px;top:0px;text-transform:uppercase;}
	.progress-bar .count{font-family:'medium';font-size:15px;line-height:35px;}
	.progress-bar.style-2{background-color: #827ab8;}
	.progress-bar.style-3{background-color: #50478c;}
	.progress-bar.style-4{background-color: #2f2860;}		
	.progress-bar.style-5{background-color: #181244;}	
	@media (max-width: 767px) {
		.typography-block .blog-example{margin-bottom:55px;}	
	}	
	@media (min-width: 768px) and (max-width: 991px) {	
		.typography-block .blog-example{margin-bottom:55px;}
	}
	
/*  ==============
	CSS ANIMATIONS
	==============  */	
	.button a, header a, .swiper-arrow, .arrows div, .block, .social a, footer a{-moz-transition: all 0.15s ease-out;-o-transition: all 0.15s ease-out;-webkit-transition: all 0.15s ease-out;transition: all 0.15s ease-out;-ms-transition: all 0.15s ease-out;}
	.post{visibility: hidden;}
	.post.animated{visibility: visible;}